.chart-plot-background {
    -fx-background-color: transparent;
    /*-fx-background-color: #2a2a2a; */
}

.chart-title {
    -fx-text-fill: #FF9D40;
    -fx-font-size: 1.6em;
}

/*.chart-axis {*/
/*    -fx-text-fill: #FF9D40;*/
/*}*/

.axis-label { -fx-text-fill: #FF9D40; }


.chart-legend-item-symbol{
    -fx-background-radius: 0;
}


.default-color0.chart-series-line {
    -fx-stroke: #48FF80;
    -fx-stroke-width: 2px;

}
.default-color0.chart-bar { -fx-stroke: #49A9FF; }
.chart-bar {
    -fx-bar-fill: #49A9FF;
}

#tabbedPane {
    -fx-background-color: #2a2a2a;
}

.menu-item .menu{
    -fx-background-color: #686767;
    -fx-border-color: #686767 ;
}

.tab {
    -fx-background-color: #686767;
    -fx-border-color: #2a2a2a;
    -fx-border-width: 0 1;
    -fx-padding: 5 110;
}

.tab-label {
    -fx-text-fill: #ecec7a;
}

.tab:selected {
    -fx-background-color: #2a2a2a;
}

.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {-fx-border-color: #2a2a2a}

.tab-header-area .tab-header-background {
    -fx-background-color: #2a2a2a;
}

.menu-bar {
    -fx-background-color: #747373;
    -fx-border-radius: 0px,0px,0px,1px;
    -fx-border-color: #2a2a2a;
}

#parentVbox {
    -fx-background-color: #2a2a2a;
    -fx-fill: #2a2a2a;
    -fx-smooth: true;
}