.chart-plot-background {
    -fx-background-color: transparent;
    /*-fx-background-color: #2a2a2a; */
}

.chart-title {
    -fx-text-fill: #4682b4;
    -fx-font-size: 1.6em;
}

/*.chart-axis {*/
/*    -fx-text-fill: #4682b4;*/
/*}*/

.axis-label { -fx-text-fill: #4682b4; }


.chart-legend-item-symbol{
    -fx-background-radius: 0;
}


.default-color0.chart-series-line {
    -fx-stroke: #4feb34;
    -fx-stroke-width: 2px;

}
.default-color0.chart-bar { -fx-stroke: #005AFF; }
.chart-bar { -fx-bar-fill: #005AFF; }