.chart-plot-background {
    -fx-background-color: transparent;
    /*-fx-background-color: #2a2a2a; */
}

.chart-title {
    -fx-text-fill: #FF9D40;
    -fx-font-size: 1.6em;
}

/*.chart-axis {*/
/*    -fx-text-fill: #FF9D40;*/
/*}*/

.axis-label { -fx-text-fill: #FF9D40; }


.chart-legend-item-symbol{
    -fx-background-radius: 0;
}


.default-color0.chart-series-line {
    -fx-stroke: #48FF80;
    -fx-stroke-width: 2px;

}
.default-color0.chart-bar { -fx-stroke: #49A9FF; }
.chart-bar {
    -fx-bar-fill: #49A9FF;
}